
/.vs/TestProject
/Test.Domain/bin/Debug/netstandard2.0
/Test.Domain/obj/Debug/netcoreapp2.0
/Test.Domain/obj/Debug/netcoreapp2.1
/Test.Domain/obj/Debug/netstandard2.0
/Test.BLL/bin/Debug/netstandard2.0
/Test.BLL/obj/Debug
/Test.Domain/bin/Debug/netcoreapp2.1
/Test.BLL/bin/Debug/netcoreapp2.1
/Test.Core/obj
/Test.Core/bin/Debug/netcoreapp2.1
/Test.Web/bin/Debug/netcoreapp2.1
